.firstImpression{
   
    background-color: rgb(40, 156, 202);
    
    padding-top: 50px;
    border-bottom: 20px solid;
    
    border-color: rgb(102, 58, 8);
    
    
}

.header{
    text-align: center;
}
.bottomCloud{
    position: absolute;
}
.topCloud{
    position: relative;
    left: 230px;
    
    
}


.webdev{
    height: 250px;
    width:800px;
    border-radius: 25px;
}
#lastRow{
    margin-bottom: 0px;
}
.mountain{
    position: relative;
    top: 5px;
}
hr{
    color: rgb(117, 212, 16);
    border: 0;
    border-bottom: 20px dotted;
    width: 200px;
    
}
#leftTree{
    
    position: absolute;
    left: 15px;
    height: 100px;
    top: 520px;
}
#rightTree{
    
    position: absolute;
    right: 15px;
    height: 100px;
    top: 520px;
}

.bottomHalf{
    background-color: rgb(194, 125, 29);
    
    
}
body{
    
    text-align: center;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
}